@import "../../assets/styles/variables";

.details-table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  td,
  th {
    border: none;
  }

  &--header {
    background-color: $table-bg-color-2;
    color: $table-text-color;
  }

  .info-btn {
    &,
    &:visited,
    &:active,
    &:focus {
      background-color: $table-bg-color;
    }

    &:hover {
      background-color: $background-color-3;
    }

    a {
      color: $table-text-color;
    }
  }
}
