$background-color: #f0f0fa;
$background-color-3: rgba(171, 33, 33, 0.5);
$background-color-4: rgb(48, 22, 73);
$table-bg-color: #785369;
$table-text-color: #f0f0fa;
$table-bg-color-2: #ab6676;
$table-text-color-2: rgb(48, 22, 73);
$text-color: #383840;

$input-box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
